SESSION_SECRET=ducky_secret
NODE_ENV=development
MONGODB_URI_LOCAL=mongodb://127.0.0.1:27017/forumApp
MONGODB_URI_ATLAS=mongodb+srv://sample_db_user:YOUR_PASSWORD@freecluster.ggopyg8.mongodb.net/userDB?retryWrites=true&w=majority&appName=FreeCluster