MONGODB_URI=mongodb://<db_username>:<db_password>@ac-wxcf561-shard-00-00.ggopyg8.mongodb.net:27017,ac-wxcf561-shard-00-01.ggopyg8.mongodb.net:27017,ac-wxcf561-shard-00-02.ggopyg8.mongodb.net:27017/rubberduckdb?ssl=true&replicaSet=atlas-i8pa0g-shard-0&authSource=admin&appName=FreeCluster
SESSION_SECRET=ducky_secret