@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: 'RoxboroughCF';
    src: url('../fonts/Roxborough\ CF.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'DM Sans', sans-serif;
    background-color: #FFF9E3;
}

main {
    margin-left: 20px;
    margin-right: 20px;
}

.navbar {
    display: flex;
    background-color: #fccb6e;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
}

.navbar ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover {
    background-color: hsl(0, 0%, 10%);
}

.navbar li {
    float: left;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-right: 150px;
}

.nav-left h1 {
    font-family: 'RoxboroughCF', Arial, Helvetica, sans-serif;
    color: #8b5e1f;
    font-size: 1.75rem;
}

.nav-center input {
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
    width: 250px;
}

.duck-logo {
    width: 50px;
}

.footer {
    place-items: center;
}

.important-btns img {
    width: 100px;
    height: auto;
}