@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0px;
}

@font-face {
    font-family: 'RoxboroughCF';
    src: url('../fonts/Roxborough\ CF.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0px;
    padding: 0px;
}

main {
    margin-left: 20px;
    margin-right: 20px;
}

.website-name h1 {
    text-align: center;
}

.navbar {
    display: flex;
    height: 100px;
    background-color: #fccb6e;
    justify-content: center;
    align-items: center;
    font-family: 'RoxboroughCF', Arial, Helvetica, sans-serif;
}

.navbar ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover {
    background-color: hsl(0, 0%, 10%);
}

.navbar a.active {
    background-color: #2196F3;
    color: white;
}

.navbar input {
    margin-right: 50px;
}

.navbar input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

.navbar li {
    float: left;
}

.website-name {
    margin-right: 150px;
}

.footer {
    place-items: center;
}

.important-btns img {
    width: 300px;
    height: auto;
}