<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a Post - The Rubber Duck Forums</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/post.css">

</head>

<body>
    <header>
        <nav class="navbar">
            <div class="nav-left">
                <a href="index.html"><img src="/images/rubber-duck.png"
                        alt="A colorless duck inside a black circle." class="duck-logo" /></a>
                <h1><a href="index.html">The Rubber Duck Forums</a></h1>
            </div>

            <div class="nav-center">
                <input type="text" placeholder="Search...">
            </div>

            <div class="nav-right">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="profile.html"><img src="/images/unknownperson.jpg"
                                alt="An unknown person icon." class="nav-profile-icon"></a></li>
                    <li><a href="logout.html" class="logout-btn" id="log-btn">Logout</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <div class="create-post-container">
            <div class="create-post-box">
                <div class="create-post-content-container">
                    <h2 class="create-post-header">Create a Post</h2>
                    <div class="create-post-title-container">
                        <input id="title-input" class="create-post-title" type="text" placeholder="Title (required)"
                            maxlength="150">
                        <div id="char-ctr" class="char-limit">0/150</div>
                    </div>
                    <div class="create-post-body-container">
                        <textarea class="create-post-body" placeholder="Body"></textarea>
                    </div>
                </div>
                <div class="create-post-file-upload">
                    <label>
                        <input id="file-upload" type="file" accept="image/png, image/jpeg" hidden>
                        <img class="image-icon" src="/images/image-outline.png">
                    </label>
                    <span id="file-upload-name"></span>
                </div>
            </div>
        </div>
        <div class="create-post-actions-container">
            <button id="cancel-button" class="create-post-cancel-button">Cancel</button>
            <button id="publish-button" class="create-post-publish-button">Publish</button>
        </div>
    </main>

    <footer class="footer">
        <div class="important-btns">
            <a href=""><img src="/images/facebook.png" alt="A placeholder image with a giant X mark." /></a>
            <a href=""><img src="/images/youtube.png" alt="A placeholder image with a giant X mark." /></a>
            <a href=""><img src="/images/instagram.png"
                    alt="A placeholder image with a giant X mark." /></a>
        </div>

        <div class="attributions">
            <br>
            <a href="https://www.flaticon.com/free-icons/facebook" title="facebook icons">Facebook icons created by
                Freepik - Flaticon</a><br>
            <a href="https://www.flaticon.com/free-icons/instagram-logo" title="instagram logo icons">Instagram logo
                icons created by Laisa Islam Ani - Flaticon</a><br>
            <a href="https://www.flaticon.com/free-icons/youtube" title="youtube icons">Youtube icons created by Md
                Tanvirul Haque - Flaticon</a>
        </div>

        <p>© 2026 by The Rubber Duck Collective</p>
    </footer>

    <script src="/js/create-post.js"></script>

</body>

</html>
