<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/css/editprofile.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="nav-left">
                <a href="index.html"><img src="/images/rubber-duck.png"
                        alt="A colorless duck inside a black circle." class="duck-logo" /></a>
                <h1><a href="index.html">The Rubber Duck Forums</a></h1>
            </div>

            <div class="nav-center">
                <input type="text" placeholder="Search...">
            </div>

            <div class="nav-right">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="profile.html"><img src="/images/unknownperson.jpg"
                                alt="An unknown person icon." class="nav-profile-icon"></a></li>
                    <li><a href="logout.html" class="logout-btn" id="log-btn">Logout</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <div class="profile-container">
            <h1>Edit Profile</h1>

            <form id="editProfileForm">

                <!-- starting with the name, and photo-->

                <div class="profile-header-container">
                    <div class="profile-left">
                        <img id="profilepreview" src="/images/sample.jpg" alt="dp">

                        <label class="uploadbtn">
                            Change Photo
                            <input type="file" id="profile-img" accept="image/*" hidden>
                        </label>

                        <input type="text" id="user-quote" placeholder="Quote" value="Quote">

                    </div>

                    <div class="profile-right">
                        <input type="text" id="username" value="Username" disabled>
                        <!-- for now keep this disabled, later on add functionality for every 30days allow to change or somethin-->

                        <input type="text" id="fullname" value="Full Name" required>
                        <!-- if text is empty make sure to not allow user to save-->
                    </div>
                </div>

                <!-- for the about me section -->

                <section class="profile-section">
                    <h2>About Me</h2>
                    <textarea id="aboutme" rows="5" cols="100"></textarea>
                </section>

                <!-- for the save and cancel buttons -->
                <div class="form-buttons">
                    <button type="submit" class="editbtn">Save Changes</button>
                    <a href="/profile.html" class="cancelbtn">Cancel</a>
                </div>
            </form>
        </div>
    </main>

    <footer class="footer">
        <div class="important-btns">
            <a href=""><img src="/images/facebook.png" alt="A placeholder image with a giant X mark." /></a>
            <a href=""><img src="/images/youtube.png" alt="A placeholder image with a giant X mark." /></a>
            <a href=""><img src="/images/instagram.png"
                    alt="A placeholder image with a giant X mark." /></a>
        </div>

        <div class="attributions">
            <br>
            <a href="https://www.flaticon.com/free-icons/facebook" title="facebook icons">Facebook icons created by
                Freepik - Flaticon</a><br>
            <a href="https://www.flaticon.com/free-icons/instagram-logo" title="instagram logo icons">Instagram logo
                icons created by Laisa Islam Ani - Flaticon</a><br>
            <a href="https://www.flaticon.com/free-icons/youtube" title="youtube icons">Youtube icons created by Md
                Tanvirul Haque - Flaticon</a>
        </div>

        <p>© 2026 by The Rubber Duck Collective</p>
    </footer>

    <script src="/js/edit-profile.js"></script>
</body>

</html>
